@import "tailwindcss";

@font-face {
    font-family: 'Flao';
    src: url('/src/assets/fonts/NotoSansLao-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'FEn';
    src: url('/src/assets/fonts/MadimiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

* {
    font-family: 'FEn', 'Flao', sans-serif !important;
}

/* ใน global CSS file (เช่น main.css หรือ App.vue) */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}